body {
  background-color: black;
  color: white;
  text-align: center;
  display: block;
  margin: 10px;
  font-family: Verdana, sans-serif;
}

p {
  color: gray;
  font-size: 21px;
}

a {
  text-decoration: none;
  color: Aquamarine;
  font-size: 16px;
}

a:hover {
  color: White;
  background-color: Aquamarine;
}

.bold {
  font-weight: bold;
}

.main {
  font-size: 50px;
}

.second {
  font-size: 42px;
}

img {
  padding: 20px;
  position: relative;
}

.camp {
  z-index: 1;
}

.phone {
  z-index: 3;
}

footer {
  text-align: right;
  color: gray;
  font-size: 24px;
  margin: 21px;
}
