body {
  background-color: black;
  color: white;
  text-align: center;
  display: block;
  margin: 10px;
  font-family: Verdana, sans-serif;
}

p {
  color: gray;
  font-size: 23px;
}

a {
  text-decoration: none;
  color: Aquamarine;
  font-size: 16px;
}

a:hover {
  color: White;
  background-color: Aquamarine;
}

h1 {
  font-size: 50px;
  font-weight: normal;
}

h2 {
  font-size: 42px;
  font-weight: 300;
}

footer {
  text-align: right;
  color: gray;
  font-size: 24px;
}
